<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LogSize" value="3GB" />
	<property name="LOG_FILE_PATH" value="/data/logs/" />
	<property name="APP_NAME" value="projectName" />

	<!-- console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>

	<!-- file appender -->

	<appender name="fileLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_FILE_PATH}csm.log</File>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_PATH}csm_%d{ddMMyyyy_HH}_%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${LogSize}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>${pattern}</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>


	<!-- kafka appender end -->
	<logger name="org.hibernate" level="DEBUG" />
	<logger name="org.springframework" level="ERROR" />

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="fileLog" />
	</root>

</configuration>

